SoapWebServiceMyMart1/MyMartCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapservice.mayank.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductDetailsService" targetNamespace="http://soapservice.mayank.org/">
<types>
<xsd:schema>
<xsd:import namespace="http://soapservice.mayank.org/" schemaLocation="http://mayankshrivansh:8080/SoapWebServiceMyMart1/ProductDetailsService?xsd=1"/>
</xsd:schema>
</types>
<message name="addItem">
<part element="tns:addItem" name="parameters"/>
</message>
<message name="addItemResponse">
<part element="tns:addItemResponse" name="parameters"/>
</message>
<message name="fetchCategories">
<part element="tns:fetchCategories" name="parameters"/>
</message>
<message name="fetchCategoriesResponse">
<part element="tns:fetchCategoriesResponse" name="parameters"/>
</message>
<message name="getProductsV2">
<part element="tns:getProductsV2" name="parameters"/>
</message>
<message name="getProductsV2Response">
<part element="tns:getProductsV2Response" name="parameters"/>
</message>
<message name="getProducts">
<part element="tns:getProducts" name="parameters"/>
</message>
<message name="getProductsResponse">
<part element="tns:getProductsResponse" name="parameters"/>
</message>
<portType name="ProductDetails">
<operation name="addItem">
<input message="tns:addItem" wsam:Action="http://soapservice.mayank.org/ProductDetails/addItemRequest"/>
<output message="tns:addItemResponse" wsam:Action="http://soapservice.mayank.org/ProductDetails/addItemResponse"/>
</operation>
<operation name="fetchCategories">
<input message="tns:fetchCategories" wsam:Action="fetchCategory"/>
<output message="tns:fetchCategoriesResponse" wsam:Action="http://soapservice.mayank.org/ProductDetails/fetchCategoriesResponse"/>
</operation>
<operation name="getProductsV2">
<input message="tns:getProductsV2" wsam:Action="http://soapservice.mayank.org/ProductDetails/getProductsV2Request"/>
<output message="tns:getProductsV2Response" wsam:Action="http://soapservice.mayank.org/ProductDetails/getProductsV2Response"/>
</operation>
<operation name="getProducts">
<input message="tns:getProducts" wsam:Action="http://soapservice.mayank.org/ProductDetails/getProductsRequest"/>
<output message="tns:getProductsResponse" wsam:Action="http://soapservice.mayank.org/ProductDetails/getProductsResponse"/>
</operation>
</portType>
<binding name="ProductDetailsPortBinding" type="tns:ProductDetails">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="addItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchCategories">
<soap:operation soapAction="fetchCategory"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductDetailsService">
<port binding="tns:ProductDetailsPortBinding" name="ProductDetailsPort">
<soap:address location="http://mayankshrivansh:8080/SoapWebServiceMyMart1/ProductDetailsService"/>
</port>
</service>
</definitions>
